/* :root {
  --darkRed: #780000;
  --red: #c1121f;
  --beige: #fdf0d5;
  --darkBlue: #003049;
  --lightBlue: #669bbc;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
*:hover{
  text-decoration: none;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
